@model Movie

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">What should you watch next?</h1>

    <p>Press the button to find out!</p>
   

            @using (Html.BeginForm("Index", "Movie", FormMethod.Get))
            {            

                <input type="submit" value="Click to Generate Movie" class="btn btn-primary" />
            }
        </div>
    









